*Data anggota {{ data['NAMA'] }}*

• Januari : {{ data['JANUARI'] }}
• Febuari : {{ data['FEBUARI'] }}
• Maret : {{ data['MARET'] }}
• April : {{ data['APRIL'] }}
• Mei : {{ data['MEI'] }}
• Juni : {{ data['JUNI'] }}
• Juli : {{ data['JULI'] }}
• Agustus : {{ data['AGUSTUS'] }}
• September : {{ data['SEPTEMBER'] }}
• Oktober : {{ data['OKTOBER'] }}
• November : {{ data['NOVEMBER'] }}
• Desember : {{ data['DESEMBER'] }}


